body {
    margin: 0 auto;
}

div {
    display: flex;
    /* border: 1px solid red; */
    margin: 0 auto;
    /* justify-content: center; */
}

.testboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    /*x-axis center */
    /* align-items: center;*/   /*y-axis center*/
    align-content: center;
    height: 300px;
    width: 300px;
}

.square {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: lightgray;
    margin: 0;
}

button {
    height: 50px;
    width: 150px;
}

button:hover {
    background-color: lightblue;
}

/*-------------------------------------------------*/

.display-text {
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    padding: 0;
    margin: 0 auto;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;  
    align-content: center;
    height: 650px;
    width: 650px;
    margin: 0 auto;
}

.corner-label {
    background-color:  white;
    width: 50px;
    height: 50px;
    margin: 0;
}

.x-label{
    height: 56px;
    width: 610px;
    margin: 0 auto;
    justify-content: center;    
    align-items: center;  
    align-content: space-between;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.y-label {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;  
    align-content: space-between;
    height: 550px;
    width: 50px;
    font-weight: bold;
    margin: 0;
}

.label {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;    
    align-items: center;
    align-content: space-around;
    border: 1px solid white;
    border-radius: 1px;
    background-color: lightgray;
    margin: 1px;
}

.player-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;  
    align-content: center;
    height: 550px;
    width: 550px;
    padding: 0;
    margin: 0;
}

.square {
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 1px;
    justify-content: center;
    align-items: center;
    font-size: 0.1em;
    background-color: rgb(175, 225, 242);
    margin: 1px;
}

.ctr-btn {
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: 0 auto;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.lightgray {
    background-color: lightgrey;
}

.gray {
    background-color: grey;
}

.white {
    background-color: white;
}